/* Estilos especificos */

.seccion {
    font-family: 'Carlito';
}

#calculadora {
    text-align: center;
}

#num {
    width: 11rem;
    height: 2rem;
}

#calculadora button {
    width: 2rem;
    height: 2rem;
}

#calculadora #sumatorio_de_nn,
#calculadora #producto_de_nn,
#calculadora #ToM,
#calculadora #FromM {
    width: auto;
}

.ocultar_btn {
    display: none;
}

.mostrar_btn {
    display: inline;
}

@media (orientation: landscape) {
    .seccion {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
}