.hero-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: ghostwhite;
}

#calc {
  background-color: ghostwhite;
  font-family: "Rubik";
}

#calc caption {
  color: darkviolet;
}

#calc input {
  text-align: right;
}

#calc button {
  font-weight: bold;
  font-family: "Rubik";
  color: darkviolet;
}

.hero-foot {
  width: 100%;
  background-color: darkviolet;
  font-family: "Rubik";
  color: ghostwhite;
}

.hero-foot ul {
  display: flex;
  justify-content: space-evenly;
  padding: 0.5rem;
}

.hero-foot a {
  color: ghostwhite;
}

@media (orientation: portrait) {
  .hero-foot ul {
    flex-direction: column;
    justify-content: center;
  }
  .hero-foot ul li {
    margin-bottom: 0.4rem;
  }
}
