body {
  background-color: ghostwhite;
  font-family: "Rubik";
}

.hero-head {
  color: ghostwhite;
}

.hero-body {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  color: darkviolet;
}

#caca {
  display: flex;
}

#caca input {
  font-family: "Linux Biolinum G", "Linux Biolinum";
  text-align: right;
}

#calc {
  display: none;
  height: 330px;
  width: 260px;
  margin: 0.4rem;
  border: 1px solid darkviolet;
}

@media screen and (max-width: 520px) {
  #caca {
    flex-direction: column;
  }
}

@media (orientation: portrait) {
  #nav-top {
    text-align: center;
  }

  #nav-top ul {
    display: block;
  }

  #nav-top ul > ul {
    display: flex;
    justify-content: space-evenly;
  }
}
