@font-face {
  font-family: comfortaa;
  src: url(../fonts/Comfortaa-VariableFont_wght.ttf);
}
@font-face {
  font-family: BadScript;
  src: url(../fonts/BadScript-Regular.ttf);
}
@font-face {
  font-family: Hack;
  src: url(../fonts/Hack-Regular.ttf);
}

html,
body {
  font-family: "comfortaa";
  color: darkslateblue;
  background-color: ghostwhite;
}

span {
  font-family: "Hack", "consolas", "monospace";
  color: darkslateblue;
}

.content h4 {
  color: darkslateblue;
}

.title,
.subtitle {
  color: darkslateblue;
  font-family: "BadScript";
}

.image {
  border: 1px solid darkslateblue;
  border-radius: 50%;
}

.title {
  color: darkslateblue;
  text-shadow: -1px -1px violet;
}
