@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500&display=swap");

html,
body {
  font-family: "comfortaa";
  color: darkslateblue;
  background-color: ghostwhite;
}

span {
  font-family: "Hack", "consolas", "monospace";
}

.content h4 {
  color: darkslateblue;
}

.title,
.subtitle {
  color: darkslateblue;
  font-family: "comfortaa Medium";
}

.image {
  border: 1px solid ghostwhite;
  border-radius: 50%;
}

.title {
  color: darkslateblue;
  text-shadow: -1px -1px ghostwhite;
}
