@charset "utf-8";
/* CSS Document */

body {
    height: 100%;
	width: 100%;
	margin: 0px;
    padding: 0px;
    font-family: 'Rubik', 'Noto Sans';
    background-color: ghostwhite;
    text-align: center;
}

nav ul{
    display: flex;
    list-style: none;
    margin: 0px;
	padding: 0px;
}
nav li {
    flex-grow: 1;
}
nav a {
    display: block;
    padding: .6rem;
    margin: 1rem;
    color: ghostwhite;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: slategray;
}
nav a:hover {
    background-color: black;
    color: yellow;
    box-shadow: -4px 5px 5px 2px slategray;
}

#titulopp {
    font: bold 36px 'Liberation Sans';
    color: slategray;
    text-shadow: bisque 3px 3px 5px;
}

#contenidom2 {
    display: grid; 
    grid-gap: .6rem;
    margin: 1rem;
}

#videolocal, #videoyt {
    background-color: bisque;
    padding: .5rem;
    border: 1px solid slategray;
}
#webresp {
    background-color: slategray;
    padding: .5rem;
    border: 1px solid bisque;
}

section h1 {
    padding-bottom: 1rem;
    border-bottom: 1px dashed darkslategray;
}

p {
    text-align: justify;
    text-indent: 2rem;
}

#pie {
    background-color: slategray;
    padding: .2rem;
}
#pie p{
    display: block;
    text-align: center;
    margin: 1rem 1rem;
}


@media (orientation: landscape){
    #contenidom2 {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
    }
}

@media (orientation: portrait){
    nav ul {
        flex-direction: column;
    }
    nav a {
        margin-bottom: .1rem;
    }
    #contenidom2 {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}